{% extends 'front_end/base.html' %}
<!Doctype html>
{% load static %}
{% block title %}
{{ abt_det.name }}
{% endblock %}


{% block content %}

<!-- END OF PAGE TITLE -->
<section id="content">
 <div class="row">
   <div class="col-sm-9 text-center" id="detailContent">
     
       <div class="detail-content">
         <h2>{{ abt_det.name }}</h2>
         {{ abt_form.media }}
         <form method="post">
           <table>
             {{ abt_form.as_table }}
             {% csrf_token %}
           
           </table>
           <input type="submit" value="Submit" class="btn btn-primary">
         </form>
       </div>

   </div>
  {% include 'front_end/sidebar.html' %}
 </div>
</section>
{% endblock %}